@import "../const";
@import "../sprite";




.header {
	background: $header_main_color;
	height: $header_height;
	position: fixed; 
	width: 100%;
	min-width: 960px;

	&-logo{
		background: $header_logo_color $sprite_url 
					$sprite-logo-offset-x+51px $sprite-logo-offset-y+36px no-repeat;
		cursor: pointer;
		display: inline-block;
		height: $header_height;
		width: 160px;
	}

	&-menu{
		@include ul_reset();
		color: $header_text_color;
		display: inline-block;
		vertical-align: top;
		&-item{
			font-size: $header_font_size;
			line-height: $header_height;
			margin-left: 70px;
			margin-right: 10px;
			cursor: pointer;
			&:hover{
				color: $header_text_hover_color;
			}
		}
	}

	&-search{
		float: right;
	
		input{
			background: $header_search_color;
			border-radius: 4px;
			border: none;
			color: $header_text_hover_color;
			font-size: 40px;
			height: 75px;
			line-height: 75px;
			width: 575px;
			margin-right: 30px;


		}
	}
}
