//colors

$header_main_color: #36393c;
$header_logo_color: #202327;
$header_text_color: #8a929c;
$header_text_hover_color: #ced2d9;
$header_search_color: #4c5055;
$sidebar_background:  #9dbd71;
$border-color: #d66343;

//sizes

$header_height: 135px;
$sidebar_width: 160px;


//fonts
$header_font_size: 20px;


//url
$sprite_url: url('img/sprite.png');
