//colors

$header_main_color: #36393c;
$header_logo_color: #202327;
$header_text_color: #8a929c;
$header_text_hover_color: #ced2d9;
$header_input_color: #4c5055;

//sizes

$header_height: 135px;

//url

//fonts
$header_font_size: 20px;

$sprite: 'img/sprite.png';

@mixin ul_reset(){
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		display: inline-block;
	}
}
